<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	    <style>
        .l-padding {
            padding-left: 2em;
        }
        .t-padding {
            padding-top: 1em;
        }
        .error-message {
		  color: #cc0033;
		  display: inline-block;		
		}
        
    </style>
	<title>Submit an item</title>
</head>
<body>
	<form action="#" class="pure-form pure-form-aligned l-padding t-padding"  th:action="@{/watchlistItem}" th:object="${watchlistItem}" method="post">
    <fieldset>
    <legend>Submit an item</legend>

		<div class="pure-controls" >
            <label ></label>
            <label class="error-message" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">If a movie is as good as 8 then priority should be at least M</label>
        </div>
		
        <div class="pure-control-group">
            <label for="title">Title</label>
            <input th:field="*{title}" type="text" placeholder="Mandatory">
            <span class="error-message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
            
        </div>

        <div class="pure-control-group">
            <label for="rating">Rating</label>
            <input th:field="*{rating}" type="text" placeholder="5.0 < Number < 10.0">
            <span class="error-message" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></span>
            
        </div>

        <div class="pure-control-group">
            <label for="priority">Priority</label>
            <input th:field="*{priority}" type="text" placeholder="Integer 1-3">
            <span class="error-message" th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}"></span>
        </div>

        <div class="pure-control-group">
            <label for="comment">Comment</label>
            <input th:field="*{comment}" type="text" placeholder="Max 30 chars">
            <span class="error-message" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></span>
        </div>

        <div class="pure-controls">
        	<input type="hidden" th:field="*{id}" />
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>
</body>
</html>